<div class="w3-display-center w3-margin">

    <div class="w3-container w3-padding-48">
      <h1><strong><%= @user.full_name %></strong><h1>
    </div>

    <div class="w3-container">
      <h2>About Me</h2>
      <br>
      <p><%= @user.bio %></p>
    </div>

    <div class="w3-container w3-padding-24">
      <h2>My Product Categories</h2>
          <% @user.categories.each do |cat| %>
              <%=  link_to cat.name, category_path(cat)%><br>
          <% end %>
    </div>

    <div class="w3-container w3-padding-26">
        <h3><%= link_to "Add Me to Your Friends", friendships_path(:friend_id => @user), :method => :post %></h3>
    </div>

    <div class="w3-container w3-padding-24">
        <h2>My Friends</h2>
    </div>


    <div class="w3-container w3-padding-36">
        <h2>My Favorite Products</h2>
            <% @user.products.each do |favorite| %>
            		<%= link_to image_tag(favorite.image_url), favorite.listing_url %>
            <% end %>
    </div>

</div>
