
<div class="w3-container">
<h1><%= @user.full_name %><h1>
<ul>
  Biography:  <%= @user.bio %>
  <br>
  <p>Preferences:</p>
  <p>Click on the links below to find a list of Etsy gifts that fall under these categories!</p>
    <% @user.categories.each do |cat| %>
       <li><%=  link_to cat.name, category_path(cat)%></li>
       <% end %>
  </ul>
</div>

<% for @user  %>
  <div class="user">
    <p>
      <strong><%=h @user.full_name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<h2>My Friends</h2>
<ul>
  <% for user in @user.friends %>
  <li><%= user.username %></li>
  <% end %>
</ul>

<h3>Favorites</h3>
<% @user.products.each do |favorite| %>
		<%= link_to image_tag(favorite.image_url), favorite.listing_url %>
<% end %>
