<h1>Search for a product</h1>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :price %>
  <%= f.number_field :price %><br>

  <%= f.submit %>
<% end %>
