<!DOCTYPE html>
<html>
  <head>
    <title>PresentlyGistExchange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
    <div class="container">
      <%= link_to root_path do %>
        <img src="http://www.clker.com/cliparts/d/6/1/e/1257675768969338833secretlondon_red_present.svg" width="80" height="80">
      <% end %>

      <div class="nav">
        <% if logged_in? %>
          <ul>
            <li>Hello, <%= User.find(session[:user_id]).first_name %>! You are signed in.</li>
            <li><%= link_to "Profile", user_path(User.find(session[:user_id])) %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Login", 'login' %></li>
            <li><%= link_to "Signup", 'signup' %></li>
          </ul>
        <% end %>

        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
